body {
    margin: 0;
    font-family: 'Karla';
}

main {
    padding: 36px;
}
/* NAV */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #FFFFFF;
    width: 100%;
    height: 65px;
}
.header-title {
    padding-right: 20px;
    font-size: 0.75rem;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    font-size: 1.25rem;

}

.header-image {
    height: 27px;
}

/* MEME */

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}
.form-input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 10px;
}
.form-button {
    font-size: 1rem;
    grid-column: 1 / -1;
    border-radius: 5px;
    border: 1px solid #A818DA;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    cursor: pointer;
}
.meme-image {
    padding-top: 30px;
    width: 100%;
}